<!-- views/home/login.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <style>
      table caption {
        background-color: #1d1b1b;
      }
      .top {
        caption-side: top;
        margin: 0%;
        text-indent: 1em;
        font-size: 16px;
        color: #ffffff;
      }
      .jb-bold {
        font-weight: bold;
      }
    </style>
  </head>

  <body>
    <%- include('../partials/nav') %>
    <div class="container">
      <h3 class="mb-3">급식</h3>

      <table class="table">
        <caption class="top">
          <span><%= y %>년 <%= m %>월 <%= d %>일 기준</span>
        </caption>
        <tr>
          <th scope="row">조식</th>
          <td><%= first ? first : '정보가 없습니다.' %></td>
        </tr>
        <tr>
          <th scope="row">중식</th>
          <td><%= second ? second : '정보가 없습니다.' %></td>
        </tr>
        <tr>
          <th scope="row">석식</th>
          <td><%= third ? third : '정보가 없습니다.' %></td>
        </tr>
      </table>
      <p class="jb-bold">알레르기 유발식품 식단번호</p>
      ①난류, ②우유, ③메밀, ④땅콩, ⑤대두, ⑥밀, ⑦고등어, ⑧게, ⑨새우, ⑩돼지고기,
      <br />
      ⑪복숭아, ⑫토마토, ⑬아황산염, ⑭호두, ⑮닭고기, ⑯쇠고기, ⑰오징어, ⑱조개류(굴,전복,홍합)
    </div>
  </body>
</html>
